<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Consulta CEP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="input">
        <ion-input
          [(ngModel)]="cep"
          placeholder="Digite aqui o CEP"
          value="{{cep}}"
        >
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="full">
        <ion-button class="consultabtn" (click)="getCEP()">
          Consultar CEP
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="full">
        <ion-button class="limpabtn" (click)="limpar()">Limpar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="info">
    <ion-item *ngIf="info.logradouro">
      <ion-label>Logradouro: </ion-label>
      <ion-label color="medium" text-wrap>{{info.logradouro}}</ion-label>
    </ion-item>
    <ion-item *ngIf="info.complemento">
      <ion-label>Compl: </ion-label>
      <ion-label color="medium" text-wrap>{{info.complemento}}</ion-label>
    </ion-item>
    <ion-item *ngIf="info.bairro">
      <ion-label>Bairro: </ion-label>
      <ion-label color="medium" text-wrap>{{info.bairro}}</ion-label>
    </ion-item>
    <ion-item *ngIf="info.localidade">
      <ion-label>Cidade: </ion-label>
      <ion-label color="medium" text-wrap>{{info.localidade}}</ion-label>
    </ion-item>
    <ion-item *ngIf="info.uf">
      <ion-label>UF: </ion-label>
      <ion-label color="medium" text-wrap>{{info.uf}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
